$dark-blue:   #0d253f;
$light-blue:  #01b4e4;
$light-green: #90cea1;
$red:         #A71D31;
$yellow:      #F9C80E;
$green:       #09814A;

$primary:       $dark-blue;
$secondary:     $light-blue;
$success:       $green;
$info:          $light-green;
$warning:       $yellow;
$danger:        $red;