@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Exo', sans-serif;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: rgb(12, 17, 27);
}

main {
    padding-top: $font-size-base * $line-height-base + $nav-link-padding-y * 2 + $spacer;
    padding-bottom: $line-height-base + $spacer;
}

main.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.carousel-item {
    display: inline-block;
    width: 900px !important;
    height: (500px * 9/16);
    border-radius: 10px;
}

.carousel-item img {
    width: 500px;
    border-radius: 10px 0 0 10px;

}

.carousel-item:hover {
    cursor: pointer;
}

.carousel-info {
    color: whitesmoke;
    width: 550px;
    padding: 16px;
    padding-left: 75px;
    background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0) 1%, rgba(13, 37, 63, 0.8) 10%, rgba(13, 37, 63, 1) 15%, rgba(13, 37, 63, 1));
    border-radius: 0 10px 10px 0;
}

.carousel-info>h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-info>p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

carousel-banner button.next-arrow,
carousel-banner button.prev-arrow {
    opacity: 0;
    border: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: (500px * 9/16);
    width: fit-content;
    padding: auto;
    font-size: 2rem;
    transition: opacity 0.5s ease 0.2s;
}

carousel-banner:hover button.next-arrow,
carousel-banner:hover button.prev-arrow {
    opacity: 1;
}

img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}

.movie-card {
    background: transparent;
    width: 10rem;
    display: inline-block;
    padding: 0 !important;
    margin: 12px 8px;
    border-radius: 10px;
    border: 0;
    color: black;
    transition: all 0.5s ease 0.1s;
    text-decoration: none;
}

.splide__slide.card-item:first-child .movie-card {
    margin-left: 24px;
}

.splide__slide.card-item:last-child .movie-card {
    margin-right: 24px;
}


.movie-card:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.07);
}

.movie-card img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

.movie-card-body {
    padding: 0.5rem;
    padding-top: 1.2rem;
}

.movie-card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1px;
    color: whitesmoke;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-info {
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1rem;
    color: #d1d1d1;
    position: absolute;
}

.movie-rating {
    right: 0.5rem;
}

.movie-card-body>.movie-rating>.bi-star-fill {
    color: gold;
}


card-slider .splide__track {
    height: 21rem;
    background: rgb(13, 37, 63);
}

.bi-chevron-right,
.bi-chevron-left {
    margin: auto 0;
    color: whitesmoke !important;
}

.splide__arrows {
    width: 100vw;
    position: absolute;
}

.splide__arrow {
    color: whitesmoke;
}

card-slider button.next-arrow,
card-slider button.prev-arrow {
    opacity: 0;
    border: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 21rem;
    width: fit-content;
    padding: auto;
    font-size: 2rem;
    transition: opacity 0.5s ease 0.2s;
}

button.prev-arrow {
    background: -webkit-linear-gradient(right, transparent, rgba(12, 17, 27, 0.7), rgba(12, 17, 27, 1));
    left: 0;
}

button.next-arrow {
    background: -webkit-linear-gradient(left, transparent, rgba(12, 17, 27, 0.7), rgba(12, 17, 27, 1));
    right: 0;
}

card-slider:hover button.next-arrow,
card-slider:hover button.prev-arrow {
    opacity: 1;
}

button.next-arrow:disabled,
button.prev-arrow:disabled {
    opacity: 0 !important;
}

card-list .card-item:first-child {
    margin-left: unset;
}

card-list .card-item:last-child {
    margin-right: unset;
}

.detail-poster {
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 0;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;
}

// card-list .movie-card-title {
//     color: #0f0f0f;
// }

// card-list .movie-info {
//     color: #1f1f1f;
// }

@media only screen and (max-width: 992px) {
    .carousel-item {
        width: 700px !important;
        height: (350px * 9/16);
    }

    .carousel-item img {
        width: 350px;
    }

    .carousel-info {
        width: 437px;
    }

    .carousel-info h2 {
        font-size: $h3-font-size;
    }

    .carousel-info p {
        font-size: 0.75rem;
    }

    carousel-banner button.next-arrow,
    carousel-banner button.prev-arrow {
        height: (350px * 9/16);
        font-size: 1.75rem;
    }

    .movie-card {
        width: 8rem;
    }

    .movie-card img {
        height: 12rem;
    }

    .movie-card-body {
        padding: 0.3rem;
        padding-top: 1rem;
    }

    .movie-card-title {
        font-size: 0.8rem;
    }

    .movie-info {
        font-size: 0.7rem;
    }

    card-slider .splide__track {
        height: 18rem;
    }

    card-slider button.next-arrow,
    card-slider button.prev-arrow {
        height: 18rem;
    }

    .detail-poster {
        flex-basis: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        width: 80vw !important;
        height: (80vw * 9/16);
    }

    .carousel-item img {
        width: 100%;
        border-radius: 10px;
    }

    .carousel-info {
        background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0) 1%, rgba(13, 37, 63, 0.6) 10%, rgba(13, 37, 63, 0.8));
        height: 40% !important;
        width: 100%;
        border-radius: 0 0 10px 10px;
        top: unset !important;
        bottom: 0 !important;
        padding: 8px;
    }

    .carousel-info h2 {
        font-size: $h6-font-size;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .carousel-info p {
        font-size: 0.6rem;
        -webkit-line-clamp: 5;
    }

    carousel-banner button.next-arrow,
    carousel-banner button.prev-arrow {
        height: (80vw * 9/16);
        font-size: 1.5rem;
    }

    .movie-card {
        width: 6rem;
    }

    .movie-card img {
        height: 9rem;
    }

    .movie-card-body {
        padding: 0.2rem;
        padding-top: 0.8rem;
    }

    card-slider .splide__track {
        height: 14rem;
    }

    card-slider button.next-arrow,
    card-slider button.prev-arrow {
        height: 14rem;
    }

    .detail-poster {
        max-width: 200px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .detail-info {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
}

@media only screen and (max-width: 576px) {
    .carousel-info p {
        -webkit-line-clamp: 1;
    }
}

@media only screen and (max-width: 300px) {
    .carousel-info p {
        display: none;
    }
}